* {
    margin: 0;
    padding: 0;
    border: 0;
    /* moz-box-sizing: border-box; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Noto Sans TC', sans-serif;
}
/* 內容 */
.wrapper{
    height: 100%;
}
.section {
    width: 100vw;
    min-height: 100px;
    position: relative;
}
.section1 {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background:linear-gradient(50deg,#E6D3B3 0,#E6D3B3 100%);
    
}

.kv {
    display: block;
    flex-basis: 40%;
    width: 40%;
}
@media screen and (max-width: 768px){
    .kv {
        display: block;
        flex-basis: 70%;
        width: 70%;
        margin-bottom: 50px;
    }
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px){
    #container {
        align-content: center;
    }
}
.scroll {
    position: absolute;
    left: 49.5vw;
    bottom: 0;
    transform: rotate(-90deg);
    z-index: 3;
}
.nav-multithumb::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(----colorWhite);
    top: -24px;
    left: 100px;
    -webkit-animation-name: scrollAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: scrollAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.nav-multithumb a {
    width: 60px;
    height: 100px;
}
a, a:focus, a:hover {
    outline: none;
    text-decoration: none;
}
.nav-multithumb .icon-wrap {
    position: absolute;
    top: 50%;
    display: block;
    width: 32px;
    height: 32px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav-multithumb a.prev div {
    left: 40px;
}
.nav-multithumb div {
    position: absolute;
    top: -25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    width: 170px;
    pointer-events: none;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.section2Cotent {
    width: 100%;
    margin-top: 100vh;
    background: rgba(230, 211, 179, 0.6);
    backdrop-filter: blur(8px);
}
.section2CotentMain {
    width: 100%;
    min-height: 100px;
    background: #fff;
    position: relative;
}
.section2CotentMain::before {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    top: -149px;
    left: 0;
    background: url(../images/whiteTop.svg) no-repeat left bottom;
    background-size: contain;
}
.section2CotentMain::after {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: -149px;
    left: 0;
    background: url(../images/whiteBottom.svg) no-repeat right top;
    background-size: contain;
}
.circle {
    fill: #527652;
    display: block;
    width: 100px;
    margin: 40px auto;
    padding-top: 10px;
}
.section2CotentMain h2 {
    text-align: center;
    line-height: 1.8em;
    padding-bottom: 30px;
    color: #527652;
    font-size: 20px;
    font-weight: bold;
}
.section2CotentMain02 {
    width: 80%;
    max-width: 1280px;
    margin: 150px auto 0 auto;
    border-radius: 10px;
    position: relative;
}
.eventInfoTitle {
    text-align: center;
}
.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

element.style {
    animation-delay: 0.2s;
    visibility: visible;
    animation-name: fadeInDown;
}
@media screen and (max-width: 768px){
    .mainTitle {
        width: 100%;
    }
}

.mainTitle {
    width: 100%;
    color: #527652;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 0.9em;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@media screen and (max-width: 768px){
    .eventInfo {
        padding: 30px 0;
    }
}
@media screen and (max-width: 1024px){
    .eventInfo {
        justify-content: center;
    }
}
.eventInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.whiteBG {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 40px 0 40px 0;
    box-shadow: 0 0 3px #c3b59e;
    min-height: 100px;
    position: relative;
}
.whiteBG h2{
    font-weight: bold;
}
@media screen and (max-width: 768px){
    .eventInfo .eventInfoContent:nth-child(1) {
        text-align: left;
        margin-bottom: 20px;
    }
}
.eventInfo .eventInfoContent:nth-child(1) {
    text-align: left;
}
@media screen and (max-width: 768px){
    .eventInfoContent {
        flex-basis: 80%;
        width: 80%;
        max-width: none;
        padding: 0 0;
        text-align: left;
    }
}
.eventInfoContent {
    flex-basis: 35%;
    width: 35%;
    max-width: 400px;
    padding: 50px 0;
}
@media screen and (max-width: 768px){
    .tent {
        width: 35%;
        order: 3;
    }
}
.tent {
    width: 25%;
    height: 250px;
    position: relative;
}
@media screen and (max-width: 768px){
    .eventLink {
        flex-basis: 40%;
        width: 40%;
        padding-bottom: 40%;
    }
}
@media screen and (max-width: 1024px){
    .eventLink {
        flex-basis: 30%;
        width: 30%;
        padding-bottom: 30%;
        margin: 0 10px 20px 10px;
    }
}
.eventLink {
    flex-basis: 20%;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.width80 {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}
.threePic {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.threePic img {
    display: block;
    width: 30%;
    margin: 0 0 20px 20px;
}
@media screen and (max-width: 768px){
    .threePic img {
        width: 45%;
    }
}
/* shopify */
#shopify-product-reviews .box__text.spr-content .site-box-content, #shopify-product-reviews .box__text.spr-header .site-box-content, .site-box.box__text .site-box-content, .template- div.box__text[class*=body] .site-box-content, .template- div.box__text[class*=title] .site-box-content {
    padding: 0px 0px;
    width: 100%;
}